
body{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;
    background-color: 	white;
}



#secao-superior{
    background-color:  lightgray;
    width: 100%;
    height: 10vh;
    margin-bottom: 5vh;

    /* bordas */
    border-bottom: 0.7vh solid orange;

    /* flex-box */
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

}

#secao-superior section{
    width: 95%;
    height: 95%;

    background-color:none;

    /* flex-box */
    display: flex;
    justify-content: space-between;
}



#secao-superior-esquerda img{
    height: 100%;
    width: auto;
}   

#secao-superior-direita{
    background-color: none;
    width: 20%;
    height: 100%;

    /* flex-box */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#secao-superior-direita select{
    width: 50%;
    height: 40%;
    background-color: none;

    border: none;
    border-radius: 0.6rem;
}

#secao-superior-direita select:focus{
    border-color: none;
}

#bt-perfil{
    height: 3rem;
    width: 3rem;

    /* bordas */
    border-radius: 100%;
    border: none;

    background-color: none;

    /* flex-box */
    display: flex;
    justify-content: center;
    align-items: center;

}

#bt-perfil img{
    border-radius: 100%;
}


#secao-superior-direita img{
    height: 100%;
}

header{
    height: 15vh;
    width: 50vw;
    background-color: none;

    /* flexbox */
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    gap: 12px;
}

#cabecalho-titulo{
    font-size: 37px;
    font-weight: bold;
    width: 100%;
    height: 40%;
    background-color: none;

    text-align: center;
}

#cabecalho-parte-inferior{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}



/* main{
    width: 60%;
    height: 60vh;
    background-color: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
} */

main{
    background-color: lightgray;

    width: 60%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;

    border: 3px whitesmoke outset;
}

main p{
    font-size: larger;
    margin-left: 10px;
}

#bloco-lista-materias{
    background-color: whitesmoke;
    width: 90%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    border: 3px whitesmoke outset;

}

#bloco-lista-materias div{
    width: 100%;    
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lista-materias ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#lista-materias ul li{
    width: 100%;
}


#lista-materias a{
    width: 90%;
    height: 50px;
    background-color: grey;
    margin: 10px;
    display: flex;
    align-items: center;

    text-decoration: none;
    box-shadow: 2px 2px 2px #888888;

    transition: 0.3s;
}

#lista-materias a span{
    color: whitesmoke;
    padding: 15px;
}



#lista-materias a:hover{
    background-color: #F7941D;

}

footer{
    height: 15vh;
    background-color: chocolate;
}

#vazio-msg{
    padding-top: 10px;
}


/* barra lateral css */
.barra-lateral{
    position: absolute;
    height: 99vh;
    width: 20vw;
    right: 0px;
    background-color: #004A8D;
    border: 0.5vh #F7941D outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#barra-lateral-cabecalho{
    width: 95%;
    height: 10%;
    display: flex;
    background-color: none;
    margin: 5%;

    align-items: center;
}

#barra-lateral-cabecalho p{
    margin-left: 2%;
    color: whitesmoke;
}

#barra-lateral-cabecalho img{
    border-radius: 100%;
    height: 80%;
}

#fechar-barra-lateral{
    width: 40px;
    height: 40px;
    margin-left: 17%;
    background-color: transparent;
    border: none;
    color: #F7941D;
}

#fechar-barra-lateral:hover{
   background-color: #888888;
   border-radius: 10%;
}

#barra-lateral-principal{
    height: 70%;
    width: 95%;
    margin: 5%;
    background-color: none;
}

#barra-lateral-principal ul{
    background-color: none;
    margin: 2%;
}

#barra-lateral-principal ul li{
    background-color: #888888;
    margin: 2%;
    padding: 2%;

    display: flex;
    gap: 5%;
    align-items: center;

    border: 3px lightblue outset;
}

#barra-lateral-principal ul li:hover{
    background-color: #F7941D;
    border: 3px  #F7941D outset;
}

#barra-lateral-inferior{
    height: 10%;
    width: 95%;
    background-color: none;
    margin: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#instagram-link{
    background-color: #888888;
    width: 60%;
    height: 60%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px lightblue outset;
    text-decoration: none;

}
#instagram-link:hover{
    background-color: #F7941D;
    border: 3px  #F7941D outset;

}

#instagram{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: black;
}
#escurecer{
    left: 0;
    width: 80vw;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: .5;
}

#link-sair{
    text-decoration: none;
    color: red;
}
[hidden]{
    display: none;
}


