*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: lightgrey;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    margin-top: 5px;
    padding-left: 100px;
    padding-right: 100px;

    align-items: center;

    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#bt-icon{
    width: 60px;
}

#parte-direita{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

#secao-turma{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#select-turma{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 15px;
}

#select-turma:focus{
    border-color: white;
}   
